<h1>Shopping Cart</h1>

<%@product_ids.each do |ids|%>
  <%product = Product.find_by(id: ids)%>
  <%= image_tag product.photo_url, alt: "image of plant product" %>
  <%= product.name%>
  <%#= link_to "Delete Item", remove_product_from_cart_path(product.id), :method => :delete%>
<%end%>

<button><%= link_to "Proceed to checkout", new_order_path%></button>








