
   <% @categories.each do |category|%>
      <tr>  
      <td><%= link_to category.name, category_path(category.id)%></td> 
      <%#do we need to add protucts here for path%>
      </tr>
    <%end%>